body * {
	box-sizing: border-box;
}

img { vertical-align: bottom; }



.conference-speaker .speakers { width: 900px;}

.conference-speaker .speakers .speakers-photo {
	display: block;
	float: left;
}

.speakers-bio {
	width: 450px;
	height: 231px;
	padding-top: 55px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	/*overflow: hidden;*/
	float: left;
}

.speakers-bio.layout-half { 
	width: 225px;
}

.conference-speaker .speakers .speakers-photo.rightside {
	float: right;
}

.speakers-bio.layout-half.rightside {
	float: right;
}
.speakers.layout-half.leftside {
	width: 450px;
	float: left;
}

.conference-speaker .speakers-bio::after {
	width: 30%;
	height: 1px;
	background: #eee;
}
.conference-speaker .speakers-bio .speakers-name {
	font: 19px/1.1 "Montserrat";
	margin-bottom: 18px;
}

.conference-speaker .speakers-bio .speakers-dec {
	font: 16px/1.5 "open-sans";
	padding-bottom: 13px;
}

.conference-speaker .speakers-bio .speakers-twitter .ir {
	background-image: url("../..//")
	
}


