
body {
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: -0.25px;

}

body:hover {
	background: linear-gradient(transparent 95%, #3ACDAD 95% );
	background-size: 0.07rem 1.5rem;
}


/*타입사이즈 설정*/
h1, h2, h3, h4, h5, h6 { margin-bottom: 1.5rem; }

h6{ 
	/* 1*1.313 */
	font-size: 1rem; 
	line-height: 1.5rem;
}
h5{
	/* 1.31*1.313 */
	font-size: 1.313rem;
	line-height: 3rem;
}
h4{
	font-size: 1.7239rem;
	line-height: 3rem;
}
h3{	
	font-size: 2.2635rem;
	line-height: 3rem;
}
h2 {
	font-size: 3.9023rem;
	line-height: 4.5rem;
}
h1 {
	font-size: 3.9023rem;
	line-height: 4.5rem;	
}

[class$="-section"]{
	width: 980px;
	padding: 3rem 4rem;
}

.container { padding-top: 3rem; }


/*
타이포그래피
*/



/*타이포그래피 전체 영역 범위*/
/*.typography-section {
	
}*/

/*타이포그래피 헤더 */
.typography-section .header {
	width: 980px;
	margin-bottom: 1.5rem;
}

.title {
	float:left;
	margin-right: 30px;
	font-size:1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color: rgb(125,133,156);
}
.title, .t-size {
	float: left;
}

/*t-size 여백조정*/
.t-size {
	/*float: left;*/
	margin-right: 45px;
}
.t-size.l-10 {
	margin-right: 30px;
}
.ro-3 { line-height: 4.5rem }
.ro-2 { line-height: 3rem }
.col-1 { width: 100px; }
.col-2 { width: 200px; }
.col-3 { width: 300px;}

/*마지막 문단은!*/
 .wrap-paragraph {
 	float: left;
 	width: 730px;
 }

 /*테이블*/
td { width: 100px; }

.t-center {
	text-align: center;
}

/*리스트*/
[class$="-list"] {
	float: left;
}

.first {
	padding-bottom: 1.5rem;
}

/*color*/

.color-box {
	float: left;
	padding-right: 25px;
}

.box-size {
	line-height: 100px;
	text-transform: uppercase;
	text-align: center;
	color: white;	
}

[class^="rgb"] {
	height: 100px;
}

.first.clearfix {
	padding-bottom: 1.5rem;
}

.warning { background: #FCB409;}

.inform { background: #63A2FC;}

.success { background: #44CB83;}

.primary { background: #7171ef;}

.danger { background: #ff5448;}

.default { background: #787f94;}


.rgb-1 { background:rgb(51,55,65) ;}
.rgb-2 { background:rgb(88,96,119) ;}
.rgb-3 { background:rgb(125,133,156) ;}
.rgb-4 { background:rgb(162,170,193) ;}
.rgb-5 { background:rgb(199,207,230) ;}



