@import UTF-8;
@import url("http://api.typolink.co.kr/css?family=Signika")
/* cyrillic-ext */

* { box-sizing: border-box; }

.grid-container::before {
	display: none;
}

/*브랜드 포스터*/
.signika.brand-poster{ 
	margin-top: 50px;
	margin-left: 290px;  
	padding: 50px 20px;
	font-family: 'Signika';
	line-weight: 1;
	letter-spacing: -0.04rem;
	font-weight: 900;
	color: white;
	background: #1c4f6f;
	/*padding: 0 10px;*/}

.signika.brand-poster .brand-type { margin-bottom: 50px; }
.signika.brand-poster .brand-type > p { 
	display: block; 
	font-size: 20px; 
	line-height: 1.4; 
	color: #1c4f6f;
	background: white; 
}

.signika.brand-poster .brand-slogan {
	font-size: 48px;
}


.signika.brand-poster .brand-open-date {
	font-size: 28px;
	font-weight: 500;

}


/*transition*/
.signika .brand-slogan {
	overflow: hidden;
}
.signika .brand-slogan > p {
	/*overflow: hidden;*/
	display: block;
	position: relative;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin-bottom: 47px;
	/*background: yellow;*/
}

.signika .brand-slogan>p::before {
	content:'';
	display: block;
	position: absolute;
	top: 100%;
	width: 11px;
	height: 48px;
	background: #ed1c24;
}

.signika .brand-slogan>p:nth-of-type(1)::before { right: 0%; transition: 0.25s; } 
.signika .brand-slogan>p:nth-of-type(2)::before { left: 0%; transition: 0.25s; } 
.signika .brand-slogan>p:nth-of-type(3)::before { right: 0%; transition: 0.25s; } 
.signika .brand-slogan>p:nth-of-type(4)::before { right: 50%; transition: all 0.25s; } 
.signika .brand-slogan>p:nth-of-type(5)::before { right: 0%;  transition: 0.25s; } 
.signika .brand-slogan>p:nth-of-type(6)::before { left: 20%; transition: 0.25s; } 

.signika .brand-slogan>p:nth-of-type(1):hover::before { width: 45%; } 
.signika .brand-slogan>p:nth-of-type(2):hover::before { width: 80%; } 
.signika .brand-slogan>p:nth-of-type(3):hover::before { width: 60%; } 
.signika .brand-slogan>p:nth-of-type(4):hover::before { width: 30%; } 
.signika .brand-slogan>p:nth-of-type(5):hover::before { width: 20%; } 
.signika .brand-slogan>p:nth-of-type(6):hover::before { width: 35%; } 


/*스케일*/
/*.signika .brand-slogan>p:nth-of-type(4)::before { left:50%; transform:scale(0); transition: all 0.25s; }
.signika .brand-slogan>p:nth-of-type(4):hover::before { width: 80%; transform:scale(1); } */
/*라인 이동*/
/*.signika .brand-slogan>p:nth-of-type(4)::before { right: 50%; left:50%; transition: all 0.25s; } 
.signika .brand-slogan>p:nth-of-type(4):hover::before { right: 25%; left: 25%; } */

