@import "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

/*basic-font-size 14px
  base-line-height 1.6*/
body {
	width: 1280px;
	font-size: 0.875rem;
	line-height: 1.4rem; 
	/*15.99px*/
	color: black;
	font-family: "Helvetica Neue", Helvetica,sans-serif;
}
h1,h2,h3,h4,h5,h6,p { margin-bottom: 1.4rem; }
h1 { font-size:4.22rem; line-height: 4.2rem;  }
h2 { font-size:3.25rem; line-height: 4.2rem;}
h3 { font-size:3.36rem; line-height: 4.2rem;}
h4 { font-size:2.4rem; line-height: 2.8rem;}
h5 { font-size:1.71rem; line-height: 2.8rem;}
h6 { font-size:1.22rem; line-height: 1.4rem;}

/*unit:257 gutter:40 */
#main-container::before {
	content: '';
	position: absolute;
	z-index: 10000;
	width: 1200px;
	height: 100vh;
	background: 
		linear-gradient(90deg,  rgba(0,0,0,0)13.46%, rgba(255, 244, 75, 0.3) 86.54%);
		/*linear-gradient(rgba(0,0,0,0) 95%, #E5785F 95%)*/
	background-size:
		297px 120px;
		/*1px 15.99px*/
}

[class*="unit-"] {
	float: left;
	margin-left: 40px;
	background: #BFBFBF;
	height: 580px;
}
.unit-2 { width: 257px;}

/*폰트*/
.article {
	overflow: hidden;
	background: linear-gradient(rgba(0,0,0,0) 95%, #E5785F 95%); repeat;
	background-size: 1px  1.4rem;
}
.article.nanum-myeongjo { font-family: 'Nanum Myeongjo', serif; }
.article.nanum-gothic { font-family: 'Nanum Gothic', serif; }
